GOOGLE_API_KEY=
#use groq api key for testing
GROQ_API_KEY=

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/employee_db_local

CHROMA_DB_PATH=./chroma_db

CHROMA_HOST=chromadb
CHROMA_PORT=8000

API_URL=http://api:8000